<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Metaworld</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>HelveticaNowDisplay-Black.otf</string>
		<string>HelveticaNowDisplay-BlackIta.otf</string>
		<string>HelveticaNowDisplay-Bold.otf</string>
		<string>HelveticaNowDisplay-BoldIta.otf</string>
		<string>HelveticaNowDisplay-ExtBdIta.otf</string>
		<string>HelveticaNowDisplay-ExtBlk.otf</string>
		<string>HelveticaNowDisplay-ExtBlkIta.otf</string>
		<string>HelveticaNowDisplay-ExtLt.otf</string>
		<string>HelveticaNowDisplay-ExtLtIta.otf</string>
		<string>HelveticaNowDisplay-ExtraBold.otf</string>
		<string>HelveticaNowDisplay-Hairline.otf</string>
		<string>HelveticaNowDisplay-HairlineI.otf</string>
		<string>HelveticaNowDisplay-Light.otf</string>
		<string>HelveticaNowDisplay-LightIta.otf</string>
		<string>HelveticaNowDisplay-MedIta.otf</string>
		<string>HelveticaNowDisplay-Medium.otf</string>
		<string>HelveticaNowDisplay-RegIta.otf</string>
		<string>HelveticaNowDisplay-Regular.otf</string>
		<string>HelveticaNowDisplay-Thin.otf</string>
		<string>HelveticaNowDisplay-ThinIta.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
